body{
font-family:Inter;
background:#0b0b0b;
color:#ffd84d;
margin:0;
}

.section{
padding:80px 20px;
text-align:center;
}

/* HERO */
.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#000;
}

.hero h1{
font-size:3rem;
text-shadow:0 0 20px #ffcc00;
}

.btn{
background:#ffd84d;
color:#000;
padding:12px 25px;
border-radius:30px;
font-weight:600;
text-decoration:none;
display:inline-block;
}

/* TRATAMIENTOS */
.treatments{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:18px;
}

.treatment{
height:250px;
border-radius:18px;
overflow:hidden;
}

.treatment img{
width:100%;
height:100%;
object-fit:cover;
transition:.4s;
}

.treatment:hover img{
transform:scale(1.08);
filter:brightness(.7);
}

/* RESERVA */
.booking{
display:flex;
flex-direction:column;
gap:10px;
max-width:300px;
margin:auto;
}

input{
padding:10px;
border-radius:10px;
border:none;
background:#111;
color:#ffd84d;
}

/* MAPA */
.map-card{
max-width:800px;
margin:auto;
border-radius:18px;
overflow:hidden;
background:#111;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.map-frame{
width:100%;
height:320px;
border:0;
}

.map-info{
padding:15px;
}

.map-btn{
display:inline-block;
padding:10px 18px;
background:#ffd84d;
color:#000;
border-radius:20px;
text-decoration:none;
font-weight:600;
}

/* RESEÑAS */
.review-box{
max-width:400px;
margin:auto;
}

textarea{
width:100%;
height:80px;
margin-top:10px;
background:#111;
color:#ffd84d;
border:none;
padding:10px;
border-radius:10px;
}

/* ESTRELLAS */
.stars{
display:flex;
justify-content:center;
gap:8px;
font-size:22px;
cursor:pointer;
color:#555;
}

.stars i.active,
.stars i.hovered{
color:#ffd84d;
}

/* REVIEWS */
#reviewsContainer{
max-width:500px;
margin:20px auto;
text-align:left;
}

.review-card{
background:#111;
padding:15px;
margin-bottom:10px;
border-radius:12px;
}
